@tailwind base;
@tailwind components;
@tailwind utilities;



.underline {
    text-decoration: underline;
    text-decoration-color: #5f626b;
    text-underline-offset: 0.3em;
}
.underline:hover {
    text-decoration-color: #92959a;
    transition: text-decoration-color 0.3s ease-in-out;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px; 
  background-color: #ACADAC; 
  z-index: 1000;
  transition: width 0.2s ease-in-out;
}

